body {
    background: url(../images/concrete_seamless.png) repeat;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
}

h3 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
}

figure {
    margin-bottom: 2rem;
}

.navbar {
    border-bottom: 2px solid #ccc;
    padding: 0;
}

.navbar-brand {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.navbar-nav {
    flex-direction: row;
    padding: 20px 0px;
}

.nav-item {
    padding: 0px 15px;
}

.nav-item + .nav-item {
    border-left: 1px solid #ddd;
}

.nav-link {
    padding: 0;
}

.form-control {
    color: #777;
}

.btn {
    background-color: #4aaaa5;
    color: #fff;
}

.content {
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
}

.header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#headshot {
    height: 200px;
    margin: 0px 20px 20px 0px;
    width: 200px;
}

.caption {
    position: relative;
    background-color: #4aaaa5;
    color: #fff;
    margin-top: -60px;
    padding: 10px 0px;
    text-align: center;
}

.caption > a {
    color: #fff;
}

.footer {
    background-color: #666;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    color: #ccc;
    padding: 20px 0px;
    position: fixed;
    text-align: center;
    width: 100%;
}

@media (max-width: 640px) {
    .navbar-brand, .navbar-nav {
        width: 100%;
    }
}